/* importações de componentes CSS do index */
@import url('./components/span.css');
@import url('./components/container-jogo.css');

/* impotação da fonte do site, google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* normalização da pagina em todos os navegadores */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif; ;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    width: calc(100vw - 16px);
    height: auto;
    margin: 10px;
    border-radius: 8px;
    background-color: #387373;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: calc(100vw auto);
    height: auto;
}