.container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 200px;
    margin: 10px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    font-size: 15PX;
    margin: 10px;
    width: 100px;
    cursor: pointer;
}

#start:hover{
    background-color: #0ABF04 ;
    color: white;
    transition: 1s;
}

#reset:hover{
    background-color: #FF0000;
    color: white;
    transition: 1s;
}